.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}
.homeContainer h1{
    width: 100%;
    max-width: 1024px;
    font-size: 20px;
}