.feautured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.feauturedItem{
    position: relative;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    z-index: -1;
}
.feauturedItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feauturedTitle{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.feauturedTitle > h1{
    font-size: 25px !important;
}